{% extends 'app/base.html' %}
{% block contenido %}
{% load humanize %}
<br> <br> <br>
<div class="card">
    <div class="card-body">
        <h2 style="text-align: center;" >Lista de Productos</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th style="text-align: center;" >Marca</th>
                <th style="text-align: center;"  >Nombre</th>
                <th style="text-align: center;" >Precio</th>
                <th style="text-align: center;" >Modificar</th>
                <th style="text-align: center;" >Eliminar</th>


            </tr>

            {% for p in entity %}
            <tr>
                <td style="text-align: center;" > {{ p.marca | title }}</td>
                <td style="text-align: center;" >{{ p.nombre | title }}</td>
                <td style="text-align: center;" >$ {{ p.precio | intcomma }}</td>
                <td style="text-align: center;" > 
                    <a style="text-align: center;"  href="{% url 'modificar_producto' p.id %}" class="btn btn-info btn-sm">Modificar</a>
                </td>
                <td style="text-align: center;" > 
                    <a  style="text-align: center;" href="{% url 'eliminar_producto' p.id %}" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
            {% endfor %}

        </table>
        <div>
            {% include 'app/paginator.html' %}
        </div>

{% endblock %}