{% extends 'app/base.html' %}
{% block contenido %}
{% load humanize %}
<br> <br> <br>
<div class="card">
    <div class="card-body">
        <h2 style="text-align: center;" >Lista de Productos</h2>
        <hr>
        <table class="table table-striped table-hover table-responsive-sm">
            <tr>
                <th >Nombre</th>
                <th >Precio</th>
                <th >Marca</th>
            </tr>

            {% for p in productos %}
            <tr>
                <td class="datos">{{ p.nombre | title }}</td>
                <td class="datos">{{ p.precio | intcomma }}</td>
                <td class="datos"> {{ p.marca | title }}</td>
            </tr>
            {% endfor %}

        </table>

{% endblock %}