{% extends 'app/base.html' %}
{% load static %}


{% block contenido %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
            <div class="card-body">
                <h2 style="text-align: center;">CONTACTANOS!</h2>
                <hr>
                <form action=""  method="POST">
                    {% csrf_token %}       
                    {{ form | crispy }} 
                    <hr>
                    <br>{{ mensaje }}
                    <div class="d-flex justify-content-end">
                        <input type="reset" value="Restablecer" class="btn btn-secondary">
                        &nbsp;
                        <button type="submit" id="btnEnviar" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
            </div>
    </div>
</div>
<table id="tablacontactos">
</table>
{% endblock %}